<ion-list>
  <ng-container *ngFor="let field of fields">
    <ion-item>
      <ion-label position="floating">{{ getFieldLabel(field) }}</ion-label>
      <ion-select
        *ngIf="field.options; else input"
        [(ngModel)]="field.value"
        (ionFocus)="checkField(field)"
        (ionChange)="checkField(field)"
      >
        <ion-select-option
          *ngFor="let option of field.options"
          [value]="option.value"
        >
          {{ option.text }}</ion-select-option
        >
      </ion-select>
      <ng-template #input>
        <ion-input
          [type]="field.type"
          [(ngModel)]="field.value"
          (ionFocus)="checkField(field)"
          (ionChange)="checkField(field)"
        ></ion-input>
      </ng-template>
    </ion-item>
    <p class="ion-padding-horizontal" [hidden]="focusField != field">
      <ion-text color="danger"> {{ field.error }} </ion-text>
    </p>
  </ng-container>
</ion-list>
<p class="ion-padding-horizontal" *ngIf="!focusField">
  <ion-text color="danger">{{ getOverallError() }}</ion-text>
</p>
<div class="ion-text-center">
  <ion-button [disabled]="!isAllValid()" (click)="emitSubmit()">
    {{ submitText }}
  </ion-button>
</div>
