<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="inc()">{{count}}</ion-button>

  <div class="ion-text-center" *ngIf="!(productsP | async)">
    <p>Loading products...</p>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>

  <ng-container *ngIf="productsP | async as products">
    <div class="demo">we have {{products.length}} products</div>

    <product-list-item
      *ngFor="let item of products"
      [product]="item"
      (add)="addItem(item,$event)"
    ></product-list-item>

    <div>total: ${{calcTotalPrice()}}</div>
  </ng-container>

  <ion-button expand="block">checkout</ion-button>
</ion-content>
