<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 3 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-general-form
    [fields]="fields"
    submitText="Register"
    (submit)="signup($event)"
  ></app-general-form>

  <pre><code>{{json}}</code></pre>
</ion-content>
