<ion-card class="ion-padding">
  {{ timestamp }}

  <div class="demo">demo in produst-list-item</div>

  <div>#{{ product.id }}</div>
  <h1>{{ product.name }}</h1>
  <p>${{ product.price }}</p>

  <ion-button (click)="inc()">
    {{ quantity }}
  </ion-button>
</ion-card>
